@import "./../../styles/vars";

.character-list{
    padding-left: 220px;

    &__content {
        width: 100%;
    }

    &__items {
        display: grid;
        grid-template-columns:repeat(3, 200px);
        justify-content: space-between;
    }

    &__not-found {
        font-size: 2rem;
        text-align: center;
        
        width: 100%;
        padding-top: 20px;
    }

    @include mediaTablet{
        padding: 0;

        &__items {
            justify-content:space-around;
            gap: 16px;
        }
    }

    @include mediaMedium{
        &__items {
            grid-template-columns:repeat(2, 200px);
        }
    }

    @include mediaPhone {
        &__items {
            grid-template-columns:repeat(2, 45%);
            gap: 8px;
        }
    }
}