//colors
$color-primary: #23201F;
$color-secondary: #9677FF;
$color-disabled: #6b6b6b;
$color-hover: #b3b3b3;
$color-active: #656565;

//media
$tablet: 1023px;
$phone: 479px;

//mixins
@mixin mediaTablet {
    @media screen and (max-width: $tablet){
        @content;
    }
}
@mixin mediaPhone {
    @media screen and (max-width: $phone){
        @content;
    }
}