@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import "./vars.scss";
@import "./checkbox";
@import "./scrollbar";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 400;
}

html, body{
    margin: 0;
    padding: 0
}

#root {
    width: 100%;
    min-height: 100vh;
}

body {
    font-family: "Jost", sans-serif;
    font-size: 16px;
    background-color: $color-primary;
    color: white;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
  }