@import "./../../styles/vars";

.home {
    display: flex;

    min-height: 100vh;

    color: black;
    background-color: white;


    &__logo-section {
        width: 50%;
        padding: 5px;
        padding-top: 200px;
    }

    &__logo {
        display: block;
        max-width: 90%;
        margin: 0 auto;
    }

    &__title {
        font-size: 2rem;
        text-align: right;

        padding-top: 20px;
        padding-right: 10%;
    }

    &__nav-section {
        display: flex;
        justify-content: center;

        width: 50%;

        padding-top: 250px;
        border-left: 50px solid #6F6888;

        background-repeat: no-repeat;
        background-size: cover;
    }

    &__button {
        font-size: 2.25rem;

        width: 350px;
        height: 130px;

        margin: 5px;

        border-radius: 50px;
        background-color: white;

        &:hover {
            transition: background-color 0.2s ease-in;
            background-color: $color-hover;
            cursor: pointer;
        }

        &:active {
            transition: none;
            background-color: $color-active;
            cursor: default;
        }
    }

    @include mediaTablet{
        display: block;

        &__logo-section {
            width: auto;
            min-height: 50vh;
            padding-top: 40px;
        }

        &__nav-section {
            min-height: 50vh;
            width: auto;
            padding: 5px;
            align-items: center;
            border-left: none;
        }
    }

    @include mediaPhone {
        &__button {
            font-size: 1.75rem;
        }
    }
}

