@import "./../../styles/vars.scss";

.about-character {
    color: white;
    background-color: $color-primary;

    &__main {
        max-width: 1000px;

        padding: 5px;
        margin: 0 auto;
    }

    &__not-found {
        font-size: 2rem;
        text-align: center;
    }

    &__description {
        padding: 8px;
    }

    &__name {
        font-size: 2.5rem;
        line-height: 80px;

        color: #8776C1;
    }

    &__text {
        font-size: 1.25rem;
        white-space: pre-wrap;
    }

    @include mediaMedium {
        &__description {
            width: 95%;
            margin: 0 auto;
        }

        &__name {
            font-size: 2rem;
            text-align: center;
        }
    }
}