@import "./../../styles/vars.scss";

.characters {
    min-height: 100vh;
    padding: 8px;
    background-color: $color-primary;

    &__main {
        max-width: 1000px;
        margin: 0 auto;
    }

    &__back-btn-img{
        margin-left: 50px;
    }

    &__filter{
        display: flex;
    }

    @include mediaTablet{
        &__filter{
            flex-direction: column;
            gap: 16px;
            align-items: flex-end;
        }
    }
}