.characters {
    &__main {
        max-width: 1000px;
        margin: 0 auto;
    }

    &__header {
        max-width: 1200px;
        margin: 0 auto;
    }

    &__title {
        font-size: 2.25rem;
        display: inline;
        padding-left: 150px;
        text-transform: uppercase;
    }

    &__back-btn{
        height: 50px;
        width: 128px;
        margin-bottom: 50px;
        background-color: #453C61;
        color: white;
        border: none;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }

    &__back-btn-img{
        margin-left: 50px;
    }

    &__filter{
        display: flex;
    }
}