@import "./../../styles/vars";

.character-card {
    width: 395px;

    margin: 80px 16px 5px 0;

    display: block;
    float: left;

    overflow: hidden;

    border: 3px solid $color-secondary;
    border-radius: 8px;

    background-color: white;

    &__img {
        height: 300px;
        width: 100%;

        border-bottom: 3px solid $color-secondary;
        object-fit: cover;
    }

    &__information {
        font-size: 1.25rem;
    
        padding: 20px;
        padding-bottom: 50px;

        color: #000;
    }

    &__information-item {
        display: flex;
        justify-content: space-between;
        gap: 8px;

        padding-bottom: 4px;
    }

    &__information-value {
        text-align: end;
    }

    @include mediaMedium {
        margin: 0 auto;
        float: none;
    }

    @include mediaPhone {
        width: 90%;
        &__img {
            height: 300px;
        }
        &__information {
            font-size: 1.25rem;
        }
    }
    
}