@import "./../../styles/vars";

.header {
    max-width: 1200px;

    margin: 0 auto;
    padding: 5px;
    padding-top: 20px;
    padding-bottom: 50px;

    &__button {
        height: 50px;
        width: 128px;

        border-radius: 20px 0 0 20px;

        background-color: #453C61;
        color: white;

        &:hover {
            transition: background-color 0.2s ease-in;
            background-color: #67598e;
            cursor: pointer;
        }

        &:active {
            transition: none;
            background-color: #3f3657;
            cursor: default;
        }
    }

    &__title {
        font-size: 2rem;

        display: inline;
        padding-left: 150px;
        text-transform: uppercase;
    }

    @include mediaTablet {
        &__button {
            width: 100px;
        }

        &__title {
            padding-left: 10%;
        }
    }

    @include mediaPhone {
        &__button {
            width: 64px;
        }

        &__title {
            font-size: 1.75rem;
        }
    }
}