@import "./../../styles/vars";

.header {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 50px;

    &__button {
        height: 50px;
        width: 128px;
        background-color: #453C61;
        color: white;
        border: none;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;

        &:hover {
            transition: background-color 0.2s ease-in;
            background-color: #67598e;
            cursor: pointer;
        }

        &:active {
            transition: none;
            background-color: #3f3657;
            cursor: default;
        }
    }

    &__title {
        font-size: 2.25rem;
        display: inline;
        padding-left: 150px;
        text-transform: uppercase;
    }
}