.character {
    font-size: 2rem;
    width: 200px;

    &__name {
        font-weight: 400;
        padding-bottom: 20px;
        text-align: end;
    }

    &__image {
        width: 100%;
        height: 250px;
        border-radius: 16px;
        border-bottom: 4px solid #493F4B;
        object-fit: cover;
        transition: transform 0.2s ease-in-out;

        &:hover {
            transform: scale(1.1);
        }
    }
}